//Colors
$chino-brown: #b3a589;
$dark-goldenrod: #b0880c;
$dark-goldenrod-20: rgba(176, 136, 12, 0.2);
$dark-tangerine: #FCA311;
$han-purple: #4922fc;
$lagoon-blue: #006d77;
$persian-blue: #3318b0;
$medium-aquamarine: #60D394;
$misty-rose: #FFDDD2;
$monte-carlo-blue: #83c5be;
$pattens-blue: #edf6f9;
$pirate-gold: #B28325;
$tangaroa-blue: #0F1A20;
$tonys-pink: #E29578;
$viola-pink: #C08497;
$blanched-almond: #fff0c4;
$rainbow: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #69729B 31.77%, #4CA9A3 53.12%, #5EB96A 68.23%, #F9D548 84.9%, #EF7F36 100%);
$radial-rainbow: radial-gradient(50% 50% at 50% 50%, #59B86D 0%, #F9D548 25%, #EB3467 63.54%, #B9368E 76.56%, #469EA2 100%);

//$base-color:;
$base-color: #e6843b;
$base-color-alt: #221f20;

//Fonts
$font-base: 'Raleway', sans-serif;