.m-work{
  &-page{
    margin-left: 41px;
    margin-right: 41px;

    &-video-content{
      margin-bottom: 85px;
    }

    .thumbnail{
      align-items: center;
      background: rgba(255, 255, 255, 0.95);
      border-radius: 50%;
      display: flex;
      height: 300px;
      justify-content: center;
      margin-bottom: -100px;
      width: 300px;

      @include media-breakpoint-down(sm){
        float: right;
      }

      @include media-breakpoint-up(md){
        margin-bottom: initial;
        height: 300px;
        width: 300px;
      }

      @include media-breakpoint-up(md){
        margin-left: 90px;
      }

      img{
        height: 200px;

        @include media-breakpoint-up(md){
          height: 200px;
        }
      }
    }

    &-team{
      position: relative;

      .team-members-trigger{
        content: '';
        position: absolute;
        height: 20px;
        top: 99vh;
        width: 20px;
        z-index: -2;

        @include media-breakpoint-up(xl){
          top: 101vh;
        }
      }

      .content-wrapper{
        background: #ffffff;
        padding: 20px;
        position: relative;
        height: 400px;
        margin-bottom: 70px;

        @include media-breakpoint-up(md){
          height: 400px;
          margin-bottom: 200px;
          padding: 30px;
        }

        @include media-breakpoint-up(xl){
          height: 600px;
          padding: 50px;
        }

        svg{
          height: 22px;
          margin-top: -10px;
          width: 22px;
        }
      }

      &-members{
        .color-dots{
          &-fat, &-tiny,
          &-medium{
            background: $radial-rainbow;
            border-radius: 50%;
            content: '';
            position: absolute;
          }

          &-fat{
            height: 35px;
            width: 35px;
          }

          &-medium{
            height: 22px;
            width: 22px;
          }

          &-tiny{
            height: 12px;
            width: 12px;
          }
        }

        .member-wrapper{
          height: rem(200px);
          position: absolute;

          img{
            border-radius: 50%;
            height: rem(130px);
            object-fit: cover;
            width:  rem(130px);

            @include media-breakpoint-up(xl){
              height: rem(200px);
              width:  rem(200px);
            }
          }

          &.kevin{
            left: -40px;
            bottom: 0;

            .fat-1, .med-1,
            .med-2{
              opacity: 0;
              transition: opacity 400ms;

              &.is-inview{
                opacity: 1;
                transition: opacity 400ms;
              }
            }

            .fat-1{
              right: -10px;
              top: -10px;

              &.is-inview{
                transition-delay: 100ms;
              }
            }

            .med-1{
              top: 35px;
              right: -20px;

              &.is-inview{
                transition-delay: 150ms;
              }
            }

            .med-2{
              top: -20px;
              right: 35px;
            }
          }

          &.laurie{
            right: 0;
            bottom: -300px;

            img{
              width:  rem(250px);
            }

            .logo{
             position: relative;

              img{
                position: absolute;
                right: 10px;
                border-radius: initial;
                height: 90px;
                width: auto;
              }
            }
          }

          &.mew-mew{
            top: -70px;

            @include media-breakpoint-up(md){
              top: initial;
              bottom: -130px;
              left: 30%;
            }

            img{
              height: rem(90px);
              width: rem(90px);

              @include media-breakpoint-up(xl){
                height: rem(150px);
                width: rem(150px);
              }
            }
          }

          &.pat{
            top: -10px;
            right: -80px;

            @include media-breakpoint-up(xl){
              top: 0;
              right: -150px;
            }

            img{
              height: rem(100px);
              width: rem(100px);

              @include media-breakpoint-up(xl){
                height: rem(170px);
                width: rem(170px);
              }
            }
          }

          &.xavier{
            top: 50%;
            right: -50px;

            @include media-breakpoint-up(xl){
              right: 10px;
              top: 170px;
            }
          }
        }
      }
    }
  }
}